$primery-text-color: #757575;
$title-text-color: #212121;
$hero-text-color: #ffffff;
$hero-back-color: #2f303a;
$back-color: #f5f4fa;
$accent-color: #2196f3;
$button-hero-color: #188ce8;
$footer-text-color: rgba(255, 255, 255, 0.6);
$footer-bg-link-color: rgba(255, 255, 255, 0.1);
$icon-color: #afb1b8;
$color-logo-part-header: #000000;
$color-border-header: #ececec;
